*,*::before, *::after{
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', sans-serif;
font-weight: normal;
}

body {
margin: 0;
padding: 0; 
background: linear-gradient(to right, gray, #5c5f5d);
}

.title{
display: flex;
justify-content: center;
margin: 3px;
font-family: 'Shadows Into Light', cursive;
font-size: 2rem;
font-weight: 600;
}
.sub-title{
display: flex;
justify-content: center;
margin: 3px;
/* font-family: 'Shadows Into Light', cursive; */
/* font-size: 2rem; */
font-weight: 600;
}

.calculator-grid{
display: grid;
justify-content: center;
align-content: center;
min-height: 100vh;
grid-template-columns: repeat(4, 100px);
grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
cursor: pointer;
font-size: 2rem;
border: 1px solid white;
background-color: rgba(255, 255, 255,0.75 );
}

.calculator-grid > button:hover {
background-color: rgba(255, 255, 255,0.9 );
    
}
.large-btn {
grid-column: span 2;
}

.display{
color: white;
grid-column: 1/-1;
background-color: rgb(0, 0, 0, 0.9);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
}

.display .first-operand{
color: rgba(255, 255, 255, 0.75);
font-size: 1.5rem;
}

.display .second-operand{
color: white;
font-size: 2.5rem;
}




